*{
    margin: 0%;
}

body{
    font-family: 'Sunflower', sans-serif;
}

a,a:hover,a:visited{
    color: white;

}

.caja-20{
    width: 20%;
    height: 100%;
    background: pink;
    float: left;
}
.caja-80{
    width: 80%;
    height: 100%;
    background: rgb(235, 233, 157);
    float: left;

}
.caja-20 > img{
    width: 80%;
    height: auto;
    margin: 10%;
}
.seccion{
    margin: 1em;
}

.seccion > p > span{
    font-weight: bold;
}