.contenedor{ 
 width:50%; 
 height: 50%;
 background: coral;
 margin: 5% 0% 25% 25%;
 padding: 3%;
}

.caja{
    width: 18%;
    float: left;
    margin:1%;
}

#c1{
    background: red;
}

#c2{
    background: green;
}

#c3{
    background: gray;
}

#c4{
    background: yellow;
}

#c5{
    background: orangered;
}

.caja6{
    background: pink;
    width: 98%;
    float: left;
    margin: 1%;
}

.titulo{
    color: blanchedalmond;
    text-align: center;
    font-size: 1em;
}

.titulo2{
    color: blue;
    margin-left: 1em;
}