*{
    margin: 0;
    padding: 0;
}


body{
    background-color: aqua;  
}

h1{
    color: rgb(168, 15, 15);
    font-family: 'Lucida Sans';
}

p{
    color: rgb(82, 11, 72);
}

#primerp{
    color: chartreuse;
}