body{
    background:#f5cd79;
    font-family: Arial, Helvetica, sans-serif;

}

.contenedor{
    background:#f78fb3;
    padding: 3% 10% 3% 10%;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 1em;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
}

.titulo{
    text-align: center;
}

.parrafos{
    color: beige;
}